:root{
    --color1:#2196F3;
    --color2:#F5F4FA;
    --color3:#ECECEC;
    --color4:#FFFFFF;
    --color5:#2F303A;
    --color6:#000000;
    --color7:#757575;
    --color8:#212121;
    --color9:#EEEEEE;
}



    header{
        font-family: 'Roboto', sans-serif;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }
    .galery-title-h3:nth-of-type(1){
        font-family: 'Roboto', sans-serif;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    footer{

        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px; 
    }

    .galery-link:nth-of-type(3n){
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;
    }

    .galery-title-h3:nth-of-type(2n){
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;
        margin-bottom:30px;

    }

    .galery-paragraph{
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;
        color: var(--color7);
    }

  .galery-title-h4{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .galery-title-h2{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .galery-button{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .footer-logo,
 .header-logo{
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
 }


 .galery-title-h1{
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
 }

 .header-link{
    color:var(--color6)
}
.header-info{
    color:var(--color7) 
}
.header-link:hover{
    color:var(--color1)
}
.header-info:hover{
    color:var(--color1) 
}


.header-list{
    list-style-type:none
}

.container{
width: 1600px;
margin: 0 auto;
padding: 0 30px;
}

.galery-title-h1{
    margin-bottom: 30px; 
}
.galery-button{
    margin-bottom: 294px;
    background-color: var(--color1);
    color: var(--color9);
}
.galery-section{
    margin-bottom: 188px;
}
.galery-section-description{
    margin-bottom: 118px; 
}

.galery-title-h2{
    margin-bottom: 50px; 
}
.footer{
    margin-top: 94px;
}
.header-div{
    display: flex;
}
 .header-list-info,
.header-list{
    display: flex;
    margin-top: 32px;
}
.header-item{
    margin-left: 50px;
}

.header-logo{
    margin-top: 24px;
}

.header-list-info{
    margin-left:344px;
}
.header-list{
    margin-left:93px;
}
.galery-button{
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 292px;
}
.galery-title-h1{
    display: flex;
    justify-content: center;
}
.galery-section-description{
display: flex;
justify-content: center;
}

.galery-list{
    margin-left: 30px;
}


.galery-title-h2{
    display: flex;
    justify-content: center;
}
.galery-list{
    display: flex;
    justify-content: center;
}

.galery-title-h3{
    display: flex;
    justify-content: center;
}

.footer-logo{
    margin-top: 154px;
    margin-bottom:20px;
}
.header-link{
    margin-bottom:9px;
}

.footer-title-h3{
    margin-bottom:9px; 
}

.footer{
    margin-bottom:60px; 
}
.galery-head{
    padding-top: 232px;
    display: grid;
    grid-template-columns: auto ;
    background-image: url("../img/team-people.jpg");
    background-repeat: no-repeat;
    margin-bottom: 94px;
}
.galery-title-h1{
    color: #FFFFFF;
}


.galery-div{
    background-color: #F5F4FA;
}

.galery-title-h4{
    margin-top: 30px;
}

.galery-item-people{
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    
}
.galery-item{
margin-left: 30px;
}




.galery-title-h3:nth-child(3n){
  margin-top:30px;
}

.antenna::before{
content: url('../img/antenna.svg');
background-repeat: no-repeat;
padding-left: 100px;
border-radius: 4px;
background: #F5F4FA;
padding-right: 100px;
padding-top: 75px;
padding-bottom: 25px;
}

.clock::before{
content: url('../img/clock.svg');
background-repeat: no-repeat;
padding-left: 100px;
border-radius: 4px;
background: #F5F4FA;
padding-right: 100px;
padding-top: 75px;
padding-bottom: 25px;  
}


.diagrama::before{
content: url('../img/diagrama.svg');
background-repeat: no-repeat;
padding-left: 100px;
border-radius: 4px;
background: #F5F4FA;
padding-right: 100px;
padding-top: 75px;
padding-bottom: 25px;      
}


.astronaut::before{
content: url('../img/astronaut.svg');
background-repeat: no-repeat;
padding-left: 100px;
border-radius: 4px;
background: #F5F4FA;
padding-right: 100px;
padding-top: 75px;
padding-bottom: 25px;    
margin-bottom: 30px;
}

