:root{
    --color1:#2196F3;
    --color2:#F5F4FA;
    --color3:#ECECEC;
    --color4:#FFFFFF;
    --color5:#2F303A;
    --color6:#000000;
    --color7:#757575;
    --color8:#212121;
    --color9:#EEEEEE;
}

	.Roboto_Medium
    {
		font-family: 'Roboto', sans-serif;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
	}

    .Roboto_Regular
    {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;
	}

    .Roboto_Bold
    {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
	}
    .Roboto_Black{
        font-family: Roboto;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px; /* 136.364% */
        letter-spacing: 2.64px;
        text-transform: uppercase;
	}
    
    .Raleway_Bold
    {
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
	}
